body {
  display: flex;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.card {
    display: flex;
    flex-direction: row;
}

.movieCardWrapper{
    margin: auto;
    padding: 5px;
    width: 70%;
    margin-top:30px;
}
.movieCard
{
    margin: auto;
    padding: 1rem 1rem 0 1rem;
    margin-top:30px;
}
.searchBarContainer {
    text-align: center;

}
.searchTabControl {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

input {
    width:60%;
    border: 1px rgb(106, 119, 119) solid;
    border-radius: 0.8rem;
    height: 3rem;
    text-align: center;
    
}

.searchTabControl > div {
    padding: 5px;
    cursor: pointer;
    width: 20%;
    margin: 1rem;
    border-radius: 0.3rem;

}

.searchTabControl > .active {
    background-color: rgb(0,123,255);
    color: white;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
}

.ratingContainer > .numericalRating {
    padding-left: 1rem;
    font-weight: 600;
}

.btn-primary {
    color: #fff;
}

.viewMoreResults {
        text-align: center;
}

.castWrapper {
    display: flex;
    flex-direction: row;
}

.castKeyword {
    margin-right: 1rem;
    font-weight: 600;    
}

.footer {
    flex-shrink: 0;
}

.userRating {
    margin-top:20px;
}